*.sym
*.bin
*.pyc
*.tmp
*.zip
*.lst
*.lbl
*.elf
*.uf2
*.o
*.obj
__pycache__/*
__pycache__
build
kernel/build/*
memory.dump
bin/*
__*
__*/
CMakeCache.txt
sdocuments/htmldocs
texput.log
kerne;/build/_deps/tinyusb-src
kernel/build/_deps/picotool-src
host/forth/sod32
kernel/firmware/CMakeLists.txt